body {
    background-image: url(background.gif;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(036, 052, 062);
}

.mainscreen {
    background-color: rgba(150, 150, 255, 0.09);
}