* {
    cursor: context-menu;
    user-select: none;
    text-decoration:none;
}

body {
    color: white;
}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.3)
}

p {
    color: white;
    background-color: rgba(000, 000, 000, 20%);
    border-radius: 10px;
    padding: 10px;
}

.mainscreen {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    width: 500px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 25px black;
    backdrop-filter: blur(8px);
}

.divider-short {
    opacity: 5%;
    border-radius: 5px;
    border: 5px solid white;
    margin: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.divider {
    opacity: 5%;
    border-radius: 5px;
    border: 5px solid white;
    margin: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

.visuals {
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

button {
    position: relative;
    width: 350px;
    font-size: 24px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: width 0.2s, border 0.2s ease;
}

button:hover {
    width: 365px;
    background-color: rgb(056, 072, 082);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 0 auto;
    position: absolute;
    left: 20px;
    bottom: 10px;
    transform: scale(1.15)
    transition: ;
}