body {
    margin: 0;
    padding: 0;
    font-family: 'Publica Play', Arial, sans-serif; /* Use Publica Play font */
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background-image/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
    border-radius: 20px; /* Rounded container */
    backdrop-filter: blur(10px);
    background-color: rgb(46, 46, 46, 0.5); /* Semi-transparent white background */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding: 10px auto; /* Padding for the square box */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Soft shadow */
    border: 1px solid black;
    scale: 0.9;
    max-width: 350px;
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
}

h1 {
    padding-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.pfp {
    border-radius: 30px;
    justify-content: center;
    scale: 1.2;
}

img {
    transition: scale 0.3s ease;
}

img:hover {
    scale: 1.25;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 20px auto;
}

.link-button {
    margin: 10px 0;
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff; /* White button background */
    color: #333; /* Dark button text color */
    border-radius: 30px; /* Rounded button */
    text-decoration: none;
    transition: background-color 0.5s ease;
    margin: 0 auto;
    width: 250px;
}

.rounded-button:hover {
    background-color: #43e082; /* Darken button on hover */
    
}

.divider-large {
    border-bottom: transparent;
    margin-bottom: 40px;
}

.para {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 10px;
    max-width: 1300px;
    margin: 0 auto;
}

.center-details {
    text-align-last: center;
}

.clickable-link {
    color: rgb(93, 255, 252);
}

.clickable-link:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
